.div-form-update {
    display: flex;
    align-content: center;
    justify-content: center;
}

.form-update-user {
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;
    width: 20em;
    height: 18em;
    justify-content: space-evenly;
    padding: 25px;
    background-color: rgb(80, 80, 80);
    border-radius: 5%;
}

.form-update-user h3 {
    display: flex;
    justify-content: center;
}

.form-update-user button {
    background-color: #49bd72;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  /* width: 10%; */
}

.form-update-user button:disabled {
    background-color: rgb(0, 0, 0);
    color: #FFFFFF;
    cursor: not-allowed;
}

.form-update-user label {
    display: flex;
    flex-direction: column;
    height: 65px;
}

.form-update-user label span{
    font-size: 23px;
}

.form-update-user label input{
    height: 15em;
}
