body {
  background-color: #1C1C1C;
  color: white;
}

.titulo {
  background-color:  #1C1C1C;
  color: #FF5722;
  /* #FF0066 */
  display: flex;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.listaResultadoButton button {
  background-color: #49bd72;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  margin: 10px;
  position: relative;
  text-decoration: none;
}

.listaResultadoButton button:hover {
  background-color: #1db954;
}

.resultadoPesquisa {
  display: flex;
  flex-direction: column;
}

.resultadoPesquisa h2 {
  text-align: center;
}

.listaResultado {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.listaResultado div {
  border: solid 1px #555555;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 340px;
  width: 310px;
}

.listaResultadoImg {
  display: flex;
  justify-content: center;
}

.listaResultadoButton {
  display: flex;
  justify-content: center;
}

.listaResultado div a {
  background-color: #49bd72;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  margin: 10px;
  position: relative;
  text-decoration: none;
}

.listaResultado div a:hover {
  background-color: #1db954;
}


.favorites {
  display: flex;
}

.tituloFavorites {
  display: flex;
  justify-content: center;
}

.buttonVerMusicas {
  background-color: #1db954;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 10%;
}

.buttonVerMusicas:hover {
  background-color: #16a749;
}

.linkFavoritesButton {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.audioButton {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 900px;
  justify-items: center;
  align-items: center;
}

.descricao-musica {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.todas-musica-album {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonFavoritarMusica {
  background-color: #1db954;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 10%;
}

.audioButton h5 {
  width: 70%;
}

.audioButton button {
  width: 50%;
  border-radius: 10px;
}

.buttonDesfavoritarMusica {
  background-color: #f36868;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 10%;
}