.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.info {
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5%;
    background-color: rgb(80, 80, 80);
    margin-bottom: 10px;
}

.profile button {
    background-color: #49bd72;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  width: 15%;
}

.profile button:hover {
    background-color: #1db954;

    cursor: pointer;
}